hr {
    border-top: 1.5px solid black;
}

.Card {
    border: 2px solid rgb(224, 223, 220) !important;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    max-width: 300px;
    border-radius: 7px;
    text-align: left;
    font-size: small;
    font-weight: 500;
}

.CardTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.CardIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.CardIconsLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 70px;
    align-items: baseline;
}

.Modal {
    max-width: 400px;
    border: none !important;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.ModalButtons {
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    width: 95%;
}